<div class="content-logo">
    <img src="assets/images/events.png" class="img-logo center-block">
    <h4><span class="login-title">Meet-Up Event Planner</span></h4>
</div>
<div class="col-md-4 col-md-offset-4">
    <div class="wrapper">
        <input type="checkbox" name="flipper__checkbox" id="flipper__checkbox" class="flipper__checkbox" hidden />
        <div class="form__container">

            <div class="form__login">
                <h1 class="form__header">Login</h1>
                <form class="form-signin" name="signinForm" role="form" autocomplete="on" novalidate>

                  <div class="form-group" ng-class="{ 'has-error' : signinForm.email.$invalid && !signinForm.email.$pristine }">
                      <label for="email">Email</label>
                      <input type="email"
                             name="email"
                             class="form-control"
                             ng-model="user.email"
                             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                             required
                             autofocus>

                     <div ng-messages="signinForm.email.$error" role="alert" ng-if='signinForm.email.$dirty'>
                       <div ng-message="required">Email required</div>
                       <div ng-message="email">Invalid email</div>
                       <div ng-message="pattern">Invalid email</div>
                     </div>
                  </div>

                  <div class="form-group" ng-class="{ 'has-error' : signinForm.password.$invalid && !signinForm.password.$pristine }">
                      <label for="password">Password</label>
                      <input type="password"
                             name="password"
                             class="form-control"
                             ng-model="user.password"
                             ng-minlength="8"
                             required>

                     <div ng-messages="signinForm.password.$error" role="alert" ng-if='signinForm.password.$dirty'>
                       <div ng-message="required">Password required</div>
                       <div ng-message="minlength">Enter at least 8 characters.</div>
                     </div>
                  </div>

                    <p style="color:red;" ng-show="signError">{{signErrorMessage}}</p>

                    <label for="flipper__checkbox" class="form__link" ng-click="regFocus()"><h6>Registration</h6></label>

                    <button ng-disabled="!user.email || !user.password" type="button" ng-click="doLogin()" class="btn btn-lg btn-primary btn-block">SignIn</button>
                    <br>
                    <div class="alert alert-success alert-dismissible" role="alert" ng-show="createdUser">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Successfully</strong> created user account.
                    </div>
                </form>
            </div>

            <div class="form__signup">
                <h1 class="form__header">Registration</h1>
                <form class="form-signin" name="regForm">

                    <div class="form-group" ng-class="{ 'has-error' : regForm.name.$invalid && !regForm.name.$pristine }">
                        <label for="name">Name</label>
                        <input type="text"
                               name="name"
                               class="form-control"
                               ng-model="guest.name"
                               ng-minlength="3"
                               required
                               autofocus>

                       <div ng-messages="regForm.name.$error" role="alert" ng-if='regForm.name.$dirty'>
                         <div ng-message="required">Name required</div>
                         <div ng-message="minlength">Enter at least 3 characters.</div>
                       </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : regForm.job_title.$invalid && !regForm.job_title.$pristine }">
                        <label for="job_title">Job Title</label>
                        <input type="text"
                               name="job_title"
                               class="form-control"
                               ng-model="guest.job_title"
                               ng-minlength="3">

                       <div ng-messages="regForm.job_title.$error" role="alert" ng-if='regForm.job_title.$dirty'>
                         <div ng-message="minlength">Enter at least 3 characters.</div>
                       </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : regForm.reg_email.$invalid && !regForm.reg_email.$pristine }">
                        <label for="reg_email">Email</label>
                        <input type="email"
                               name="reg_email"
                               class="form-control"
                               ng-model="guest.email"
                               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                               required>

                       <div ng-messages="regForm.reg_email.$error" role="alert" ng-if='regForm.reg_email.$dirty'>
                         <div ng-message="required">Email required</div>
                         <div ng-message="email">Invalid email</div>
                         <div ng-message="pattern">Invalid email</div>
                       </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : regForm.reg_password.$invalid && !regForm.reg_password.$pristine }">
                        <label for="reg_password">Password</label>
                        <input type="password"
                               name="reg_password"
                               class="form-control"
                               ng-model="guest.password"
                               ng-minlength="8"
                               required>

                       <div ng-messages="regForm.reg_password.$error" role="alert" ng-if='regForm.reg_password.$dirty'>
                         <div ng-message="required">Password required</div>
                         <div ng-message="minlength">Enter at least 8 characters.</div>
                       </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : regForm.password_confirm.$invalid && !regForm.password_confirm.$pristine }">
                        <label for="password_confirm">Password</label>
                        <input type="password"
                               name="password_confirm"
                               class="form-control"
                               ng-model="guest.password_confirm"
                               ng-minlength="8"
                               required>

                       <div ng-messages="regForm.password_confirm.$error" role="alert" ng-if='regForm.password_confirm.$dirty'>
                         <div ng-message="required">Password required</div>
                         <div ng-message="minlength">Enter at least 8 characters.</div>
                       </div>
                    </div>

                    <p style="color:red;" ng-show="regError">{{regErrorMessage}}</p>

                    <label for="flipper__checkbox" class="form__link" ng-click="logFocus()"><h6>Login</h6></label>

                    <button type="button" ng-click="doRegister()" ng-disabled="!guest.email || !guest.password || !guest.name ||guest.password != guest.password_confirm" class="btn btn-lg btn-primary btn-block">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
