<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<form>
			<input id="search" type="text" placeholder="Search" ng-model="eventSearch" class="form-control form-control-2" autofocus>
		</form>
	</div>
</div>

<br>

<div class="col-sm-6 col-md-4" ng-repeat="event in events | filter:eventSearch">
	<div class="thumbnail event-box" ng-show="eventSearch">
		<div class="caption">
			<div class="thumbnail-header">
				<h4><span class="center-block">{{ event.name }}</span></h4>
			</div>
			<p>
				<span><strong>Type: </strong>{{ event.type }}</span><br>
				<span><strong>Host: </strong>{{ event.host }}</span><br>
				<span><strong>Start Date: </strong>{{ event.start_date }}</span><br>
				<span><strong>End Date: </strong>{{ event.end_date }}</span><br>
				<span><strong>Guest list: </strong>{{ event.guest_list }}</span><br>
				<span><strong>location: </strong>{{ event.location.name }}</span><br>
				<span><strong>Info: </strong>{{ event.aditional_info }}</span>
			</p>
		</div>
	</div>
</div>


<div class="card-container col-sm-4 col-md-4">
        <!-- card -->
        <div class="card">
            <!-- front card-->
            <div class="front bg-blue">
              <!-- row -->
                <div class="row">
                    <!-- col -->
                    <div class="col-xs-12">
                        <h4><span class="center-block"> Dia das bruxas </span></h4>
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-xs-12">
                        <span class="col-xs-4"><strong>Type:</strong></span> <span class="col-xs-7"> <i class="fa fa-diamond"></i> tipo</span>
                        <span class="col-xs-4"><strong>Host: </strong> </span> <span class="col-xs-7"><i class="fa fa-globe"></i> host</span>
                        <span class="col-xs-4"><strong>Start Date: </strong></span> <span class="col-xs-7"><i class="fa fa-calendar"></i> start date</span>
                        <span class="col-xs-4"><strong>End Date: </strong></span> <span class="col-xs-7"><i class="fa fa-calendar"></i> end date</span>
                        <span class="col-xs-4"><strong>Guest list: </strong></span> <span class="col-xs-7"><i class="fa fa-th-list"></i> guest list</span>
                        <span class="col-xs-4"><strong>local: </strong></span> <span class="col-xs-7"><i class="fa fa-map-marker"></i> local</span>
                        <span class="col-xs-4"><strong>Info: </strong></span> <span class="col-xs-7"><i class="fa fa-info"></i> info.</span>
                    </div>
                    <!-- /col -->
                </div>
              <!-- /row -->
            </div>
            <!-- /front card-->
            <!-- back card-->
            <div class="back bg-slategray">
                <!-- row -->

                <!-- /row -->
            </div>
            <!-- /back card-->
        </div>
        <!-- /card -->
    </div>
