<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<form>
			<input id="search" type="text" placeholder="Search" ng-model="eventSearch" class="form-control form-control-2" autofocus>
		</form>
	</div>
</div>

<br>
<br>

<div class="col-md-8">
	<div class="card-container col-sm-6 col-md-6" ng-repeat="event in events | filter:eventSearch">
		<div class="card" ng-show="eventSearch">
			<div class="front bg-blue">
				<div class="row">
					<div class="col-xs-12">
						<h4 class="text-center title-color">{{ event.name }}</h4>
					</div>
					<div class="col-xs-12 row-fluid">
						<span class="col-xs-3"><strong>Owner: </strong></span> <span class="col-xs-9"><i class="fa fa-user"></i> {{ event.id }}</span>
						<span class="col-xs-3"><strong>Type:</strong></span> <span class="col-xs-9"> <i class="fa fa-diamond"></i> {{ event.type }}</span>
						<span class="col-xs-3"><strong>Host: </strong> </span> <span class="col-xs-9"><i class="fa fa-globe"></i> {{ event.host }}</span>
						<span class="col-xs-3"><strong>Start: </strong></span> <span class="col-xs-9"><i class="fa fa-calendar"></i> {{ event.start_date }}</span>
						<span class="col-xs-3"><strong>End: </strong></span> <span class="col-xs-9"><i class="fa fa-calendar"></i> {{ event.end_date }}</span>
						<span class="col-xs-3"><strong>Guests: </strong></span> <span class="col-xs-9"><i class="fa fa-th-list"></i> {{ event.guest_list }}</span>
						<span class="col-xs-3"><strong>local: </strong></span> <span class="col-xs-9"><i class="fa fa-map-marker"></i> {{ event.location.name }}</span>
						<span class="col-xs-3"><strong>Info: </strong></span> <span class="col-xs-9"><i class="fa fa-info"></i> {{ event.aditional_info }}</span>
					</div>
				</div>
			</div>
			<div class="back bg-slategray text-center">
					<a href="javascript:;" ng-click="setLocal(event)"><i class="fa fa-map-marker fa-4x"></i><br>See on map</a>
			</div>
		</div>
	</div>
</div>

	<div class="col-md-4" ng-if="eventSearch">
		<div style="position: fixed;">
			<div class="map-content-1">
				<div area-based-google-map area="area" zoom="15" ></div>
			</div>
	</div>
</div>
