html,
body {
  min-height: 100%;
}

a,
input[type="submit"],
.form__link {
  -webkit-transition: all .25s ease;
          transition: all .25s ease;
}

hidden {
  display: none;
}

small {
  display: block;
  margin-top: 1rem;
  font-size: 0.8125rem;
  text-align: center;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.wrapper {
  position: relative;
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  width: remy(320px);
  background: #fff;
  box-shadow: 3px 3px 32px rgba(0,0,0,.25);
  perspective: 1000;
}
.flipper__checkbox:checked + .form__container {transform: rotateY(180deg);}
.form__container {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform .25s ease;
}
.form__container--inner {padding: 2rem;}
.form__login,
.form__signup {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  -webkit-backface-visibility: hidden !important;
  background: #ffffff;
  box-shadow: 3px 3px 32px rgba(0,0,0,.25);
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(270deg, #2196f3, lighten(#2196f3, 25%));
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
  }
}
.form__login {
  z-index: 2;
  padding: 2rem;
  /* for firefox 31 */
  transform: rotateY(0deg);
  background: #ffffff;
}
.form__signup {
  padding: 2rem;
  /*margin-left: -3.95rem;*/
  transform: rotateY(180deg);
  background: #ffffff;
}
.form__header {
  margin-bottom: 2rem;
  font-size: 1.618rem;
  font-weight: 700;
  text-align: center;
}
.form__group:nth-of-type(n+2) {margin-top: 1.5rem;}
.label__icon {
  padding: .97rem 0;
  float: left;
  width: 3rem;
  font-size: 1.25rem;
  text-align: center;
  color: rgba(107,141,159,.25);
  border-top: 1px solid $color--border;
  border-bottom: 1px solid $color--border;
  border-left: 1px solid $color--border;
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}
.form__element {
  padding-top: 1.11rem;
  padding-right: 1rem;
  padding-bottom: 1.11rem;
  width: 15.775rem;
  border-top: 1px solid $color--border;
  border-right: 1px solid $color--border;
  border-bottom: 1px solid $color--border;
  border-left: 0;
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
  &:focus {outline: 0;}
}
[type="checkbox"] {
  position: relative;
  margin-right: .5rem;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid $color--border;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: $radius;
    cursor: pointer;
  }
}
label[for="checkbox"] {
  position: relative;
  font-size: .9rem;
  font-weight: 700;
}
.checkbox--forget:checked + .icon--checkbox {
  opacity: 1;
  transform: scale(1);
}
.icon--checkbox {
  position: absolute;
  top: 4px;
  left: 6px;
  opacity: 0;
  cursor: pointer;
  transition: all .35s cubic-bezier(.91,.8,.84,2.81);
  transform: scale(0);
}
.form__link {
  font-size: .8rem;
  font-weight: bold;
  text-decoration: underline;
  color: rgba($color--text,.75);
  cursor: pointer;
  &:focus,
  &:hover {color: rgba($color--text,.95);}
}
.link--right {float: right;}
.form__button {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #2196f3;
  border: 0;
  border-radius: $radius;
  cursor: pointer;
  &:focus,
  &:hover {background-color: darken(#2196f3, 13%);}
}

.line-tracejada-blue{
  border: 1px dashed #0c7cd5;
  margin-top: 0px;
  margin-bottom: 0px;
}

.img-circle {
  width: 85px;
}

.size-30x30{
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: -9px;
  margin-top: -10px;
}

@media screen
  and (min-device-width: 750px)
  and (max-device-width: 1600px){
    .small-device{
      display: none;
    }
}

.event-box{
    box-shadow: 3px 3px 32px rgba(0,0,0,.25);
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 5%;
}

.myInput {
    width: 100%;
    height: 34px;
    padding: 6px 12px !important;
    font-weight: 300;
    border-radius: 6px !important;
    font-size: 18px !important;
    line-height: 24px;
    vertical-align: middle;
    background-color: transparent;
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
    border-bottom: 1px solid rgba(255,255,255,0.2) !important;
    -webkit-transition: all 0.5s ease-in-out !important;
    -moz-transition: all 0.5s ease-in-out !important;
    transition: all 0.5s ease-in-out !important;
}

.login-title {
    color: #2196f3;
}

.header-space{
  margin-left: 8px;
}

.event-add-box {
    background: #ffffff;
    box-shadow: 3px 3px 32px rgba(0,0,0,.25);
    padding-top: 8px;
    padding-bottom: 8px;
}

.badge {
    color: #2196f3;
    background-color: #FFFFFF;
}

.thumbnail-header{
  background-color: skyblue;
  margin-top: -36px;
  margin-left: -9px;
  margin-right: -9px;
  text-align: center;
}

.img-logo{
    height: 102px;
    width: 102px;
}

.content-logo{
    margin: 0 auto;
    text-align: center;
}
/*********************************/
/************* CARDS *************/
/**FROM A TEMPLATE THAT I BOUGHT**/

.card-container {
  position: relative; }
  .card-container .card {
    min-height: 110px;
    margin-bottom: 20px;
    position: relative;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective: 600px;
    width: 100%;
    cursor: pointer;
    z-index: 9; }
    .card-container .card-non-rotate {
      cursor: default !important;
    }
    .card-container .card .front {
      height: 100%;
      position: relative;
      width: 100%;
      padding: 10px;
      top: 0;
      left: 0;
      z-index: 11;
      -webkit-transform: rotateX(0deg) rotateY(0deg);
      -moz-transform: rotateX(0deg) rotateY(0deg);
      -ms-transform: rotateX(0deg) rotateY(0deg);
      -o-transform: rotateX(0deg) rotateY(0deg);
      transform: rotateX(0deg) rotateY(0deg);
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      /* -- transition is the magic sauce for animation -- */
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
      .card-container .card .front-non-rotate {
        box-shadow: 3px 3px 32px rgba(0,0,0,.25);
        height: 100%;
        position: relative;
        width: 100%;
        padding: 10px;
        top: 0;
        left: 0;
        z-index: 11;
      }
    .card-container .card:hover .front {
      z-index: 11;
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg); }
      .card-container .card:hover .front-non-rotate {
        z-index: 11;
      }
    .card-container .card:hover .back {
      z-index: 12;
      -webkit-transform: rotateX(0deg) rotateY(0deg);
      -moz-transform: rotateX(0deg) rotateY(0deg);
      -ms-transform: rotateX(0deg) rotateY(0deg);
      -o-transform: rotateX(0deg) rotateY(0deg);
      transform: rotateX(0deg) rotateY(0deg); }
    .card-container .card .back {
      position: absolute;
      top: 0;
      border: 0;
      height: 100%;
      width: 100%;
      left: 0;
      z-index: 10;
      -webkit-transform: rotateY(-180deg);
      -moz-transform: rotateY(-179deg);
      /* setting to 180 causes an unnatural-looking half-flip */
      transform: rotateY(-179deg);
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      /* -- transition is the magic sauce for animation -- */
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
      .card-container .card .back > .row {
        height: 100%;
        margin: 0; }
        .card-container .card .back > .row > div {
          height: 100%;
          padding: 0; }
          .card-container .card .back > .row > div a {
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
            padding: 30px 10px 10px; }
            .card-container .card .back > .row > div a i {
              display: block;
              margin-bottom: 5px; }
            .card-container .card .back > .row > div a:hover {
              text-decoration: none; }
          .card-container .card .back > .row > div:first-of-type a {
            background-color: rgba(0, 0, 0, 0.1); }
          .card-container .card .back > .row > div:nth-of-type(2) a {
            background-color: rgba(0, 0, 0, 0.05); }

.bg-blue {
  background-color: #2196F3 !important;
  color: white !important;
}

.bg-slategray {
  background-color: #3f4e62 !important;
  color: white !important;
}
.map-content-1{
  height: 478px;
  width: 400px;
  background-color: #2196F3;
  padding-top: 10px;
}
.title-color{
  color: aliceblue;
}

#areaMap, #addressMap
  {
    height: 448px;
    width: 380px;
    margin: 10px;
    padding: 10px;
  }
  .row-fluid {
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden; }
}
