<nav class="navbar navbar-inverse" ng-controller="LoginCtrl" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home">Meet-Up Event Planner</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#/home">
            <img ng-src="{{user.password.profileImageURL}}" alt="" class="img-circle size-30x30">
            <span class="pull-right">{{ user.password.email }} <fa name="angle-down"></fa></span>

        </a></li>
        <li><a href="#/home">My Events  <span class="badge pull-right header-space">{{ event_qdt }}</span></a></li>
        <li><a href="#/add">Add Event</a></li>
        <li><a href="#/search">Look up Events <span class="badge pull-right header-space">{{ events.length }}</span></a></li>
        <li><a href="javascript:;" ng-click="logout()">Log out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!--<nav class="navbar navbar-inverse" ng-controller="LoginCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home"><span>Meet-Up Event Planner</span></a>
        </div>

        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav">
                <li><a href="#/home">
                    <img ng-src="{{user.password.profileImageURL}}" alt="" class="img-circle size-30x30">
                    <span class="pull-right">{{ user.password.email }} <fa name="angle-down"></fa></span>
                </a></li>

                <li><a href="#/home">My Events  <span class="badge pull-right header-space">{{ event_qdt }}</span></a></li>
                <li><a href="#/add">Add Event</a></li>
                <li><a href="#/search">Look up Events <span class="badge pull-right header-space">{{ events.length }}</span></a></li>
                <li><a href="javascript:;" ng-click="logout()">Log out</a></li>
            </ul>
        </div>

    </div>
</nav>-->
